.body {
    padding: 0;
    margin: 0;
}

/* font-family: 'Anybody', cursive; */
/* font-family: 'Source Serif Pro', serif; */
/* font-family: 'Poppins', sans-serif; */

.wrapper {}

.header {
    background: linear-gradient(90deg, #ee551436, 1.14%, rgb(255, 255, 255));
}

.header__menu {
    font-family: 'Poppins', sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1190px;
    margin: 0px auto;
    padding: 10px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo-content {}

.header__logo-picture {}

.header__logo-img {
    width: 100%;
    max-width: 94px;
}

.header__list {}

.header__ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: end;
    width: 400px;
}

.header__li {
    padding: 0px 10px 0px 10px;
    transition: all 0.2s;
    max-width: 70px;
}

.header__li:hover {
    color: #EE5514;
    transition: all 0.2s;
}

.header__menu-buttons {
    display: flex;
    align-items: center;
}

.header__menu-button-buy {
    min-height: 59px;
    width: 137px;
    border-radius: 5px;
    padding: 15px 30px 15px 30px;
    background: #EE5514;
    border: 0px;
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    color: #FFFFFF;
    transition: all 0.3s;
}

.header__menu-button-buy:hover {
    background: #d54000;
    transition: all 0.2s;
}

.menu-btn_container {
    padding-left: 10px;
}

.menu-btn {
    width: 40px;
    height: 50px;
    position: relative;
    z-index: 2;
    overflow: hidden;

    display: none;
}

.menu-btn span {
    width: 40px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    transition: all 0.5s;
    border-radius: 5px;
}

.menu-btn span:nth-of-type(2) {
    top: calc(50% - 8px);
}

.menu-btn span:nth-of-type(3) {
    top: calc(50% + 8px);
}

.menu-btn.active span:nth-of-type(1) {
    width: 0px;
}

.menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}


@media (max-width: 739px) {
    .header__list {
        position: absolute;
        top: 0;
        left: 0;
        background: #eee200;
        width: 100%;
        min-height: 100%;

        transform: translateX(-100%);
        transition: all 0.4s;
    }

    .header__ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        padding-top: 80px;
    }

    .header__li {
        color: rgb(0, 0, 0);
        font-size: 32px;
        font-weight: 800;
        padding-top: 10px;
        padding-left: 15px;
    }

    .menu-btn {
        display: block;
    }
}

.header__list_active {
    transform: translateX(-0%);
    transition: all 0.4s;
}

@media (max-width: 462px) {
    .header__menu-button-buy {
        min-height: 0px;
        width: 130px;
        padding: 10px 15px 10px 15px;
        font-size: 17px;
    }
}