/* font-family: 'Lato', sans-serif; */
/* font-family: 'Work Sans', sans-serif; */
.body {
    padding: 0;
    margin: 0;
}

.wrapper {}

.header {}

.header__background {
    background: url('image/fone.png') center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    padding: 10px;

}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 960px;
    margin: 0px auto;
}

.header__logo {}

.header__logo-txt {
    font-family: Lora;
    font-size: 26px;
    font-weight: 400;
    color: #FFFFFF;

    max-width: 92px;
}

.header__list {}

.header__ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    display: flex;
    max-width: 400px;
}

.header__li {
    font-family: Oxygen;
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: uppercase;

    padding: 0px 10px 0px 10px;
    max-width: 85px;
}

.header__content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 500px;
}

.header__content-container {
    max-width: 960px;
    margin: 0px auto;

}

.header__content-txt {}

.header__title {
    font-family: Lora;
    font-size: 50px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 2px;
    color: #FFFFFF;
    max-width: 498px;
}

.header__subtitle {
    font-family: Oxygen;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #FFFFFFA1;
    max-width: 504px;
    margin-top: 20px;
}

.header__buttons {}

.header__button-view {
    min-height: 44px;
    width: 167px;
    border-radius: 3px;
    font-family: Oxygen;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    border: 0px;
    background: #DD783F;
    color: #FFFFFF;

    margin-top: 30px;
}

.header__burger {
    display: none;
}

.menu-btn {
    width: 45px;
    height: 50px;
    position: relative;
    z-index: 2;
    overflow: hidden;

}

.menu-btn span {
    width: 38px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
    top: calc(50% - 8px);
}

.menu-btn span:nth-of-type(3) {
    top: calc(50% + 8px);
}

.menu-btn.active span:nth-of-type(1) {
    width: 0px;
}

.menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}

@media (max-width: 768px) {
    .header__list {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        background: #232f38e3;

        transform: translateY(-100%);
        transition: all 0.4s;
    }

    .header__ul {
        display: flex;
        flex-direction: column;
        padding-top: 90px;
    }

    .header__li {
        font-size: 30px;
        font-weight: 700;
        padding-top: 20px;
    }

    .header__burger {
        display: block;
    }
}

.header__list_active {
    transform: translateY(-0%);
    transition: all 0.4s;
}

.body_active {
   overflow: hidden;
}